.root {
  display: inline-block;
  padding: 0 0.5em;
  cursor: pointer;
  border-radius: 0.25em;
  font-family: sans-serif;
  background-color: cornflowerBlue;
  color: white;
  font-size: 1em;
  line-height: 2em;
}

.root:active {
  background-color: royalBlue;
}
