.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid dimGray;
  border-radius: 0.25em;
}

.root.active {
  border-color: royalBlue;
}

.input {
  display: inline-block;
  margin: 0;
  padding: 0 0.5em;
  font-family: sans-serif;
  color: dimGray;
  font-size: 1em;
  line-height: 2em;
  box-sizing: border-box;
  min-width: 2em;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  box-sizing: border-box;
}

.icon {
  margin-right: 0.5em;
}
