.root {
  box-sizing: border-box;
  margin-top: 1em;
  padding: 1em 1em;
  width: 100%;
  max-width: 40em;
}

.root h3,
.root h4 {
  margin-top: 0;
}

.content > img {
  float: left;
  margin: 0 1em 1em 0;
  width: 50%;
  max-width: 185px;
}

.content ul {
  padding: 0;
  list-style-position: inside;
}

.content li {
  line-height: 1.5em;
  margin-bottom: 0.5em;
}
