.root {
  box-sizing: border-box;
  margin-top: 1em;
  padding: 1em 1em;
  width: 100%;
  max-width: 40em;
  font-family: sans-serif;

  h3,
  h4 {
    margin-top: 0;
  }

  .content {
    > img {
      float: left;
      margin: 0 1em 1em 0;
      width: 50%;
      max-width: 185px;
    }

    ul {
      padding: 0;
      list-style-position: inside;
    }

    li {
      line-height: 1.5em;
      margin-bottom: 0.5em;
    }
  }
}
